.popupContainer {
  color: white;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
}

.popupContentContainer {
  position: relative;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.popupVideoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 150px;
  position: relative;
  padding: 0px 20px;
  z-index: 10000;
}
.popupTitle {
  position: relative;
  text-overflow: ellipsis;
  font-weight: 500;
  width: 100%;
  font-size: 30px;
}

.popupTitle.small {
  font-size: 20px;
}
.popupVideo {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: gray;
  object-fit: cover;
}
.popupPlayContainer {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  margin-top: 5px;
}

.popUpVolumeStyle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.644);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: all 0.3s ease;
}
.popUpVolumeStyle:hover {
  background-color: rgba(128, 128, 128, 0.397);
}

.popUpVolumeStyle.otherButtons {
  width: 50px;
  height: 50px;
  color: white;
}

.popUpVolumeStyle.otherButtons:hover {
  border: 1px solid rgb(255, 255, 255);
}

.popupDetails {
  display: flex;
  gap: 10px;
  padding: 0px 20px;
  font-size: 13px;
  font-weight: 500;
  align-items: center;
}

.popupGenre {
  font-size: 14px;
  font-weight: 500;
  padding: 0px 20px;
  padding-bottom: 20px;
}

@media screen and (max-width: 900px) {
  .popupContentContainer {
    width: 350px;
  }
}
@media screen and (max-width: 600px) {
  .popupContentContainer {
    width: 300px;
  }
}
