.modalMainContainer {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;
  width: auto;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.445);
}

.modalContainer {
  height: 90dvh;
  overflow-y: auto;
  overflow-x: hidden;
  width: 48%;
  background-color: #141414;
  color: white;
  border-radius: 10px;
  position: relative;
}

.playContainer {
  position: relative;
  z-index: 20000;
  width: 90%;
  margin-top: 25dvh;
  height: auto;
  pointer-events: auto;
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding-left: 40px;
}
.modalVideoBackdrop {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(20, 20, 20, 10) 0.01%,
    transparent 10%
  );
  z-index: 3;
}

@media screen and (max-width: 1280px) {
  .modalContainer {
    width: 90%;
  }
}
